body {
    position: absolute;
    background: black;
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    margin: 0;
    padding: 0;
}

html {
    scrollbar-width: none;
    overscroll-behavior: none;
}

button {
    pointer-events: all;
}

img {
    image-rendering: crisp-edges;
}

a {
    color: #00d9ff;
}
a:hover {
    color: #0077ff;
}

.wall {
      position: absolute;
      background: rgba(255, 255, 255);
}

#home {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* background: rgb(255, 0, 0, 0.25); */
}

#homeInner {
    display: flex;
    position:absolute;
    max-width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* background: rgb(0, 0, 255, 0.25); */

}

#worldCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0);
}

#scrollHitbox
{
    position: absolute;
    top: 0;
    left: 0;

    will-change: transform;

    width: 8px;
    height: 8px;
    background: rgba(255, 0, 255, 0.25);

    /* transition: transform 1s cubic-bezier(0, 0, 0, 1); */


    z-index: -9999;
}

#hud{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    z-index: 1;

    pointer-events: none;
    /* background: rgba(0,255,0, 0.1); */
}

#hudCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;

    background: rgba(0,255,0, 0.1);


}

#mouseLabel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9999;
    will-change: transform;
    /* transition: transform 1s cubic-bezier(0, 0, 0, 1); */
}

#homeInner > * { 
    padding-right: 2ex;
}