html {
    scrollbar-width: none;
    overscroll-behavior: none;
    scrollbar-color: rgba(255, 255, 255, 1) rgba(0,0,0,0);
}

body {
    position: absolute;
    background: black;
    font-family: monospace;
    line-height: 100%;
    font-size: 14pt;
    color: white;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-areas: 
        "NW N NE" 
        "W O E" 
        "SW S SE"
        ;

    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr auto 1fr;
}

ascii-art {
    white-space: pre;
    margin: 0;
    padding: 0;
}

wall- {
    display: block;
    position: absolute;
    background: rgba(255, 255, 255);
}

section {
    position: absolute;
}

table {
    border-collapse: collapse;
}

tr {
    outline: 1px solid white;
}

button {
    pointer-events: all;
}

img {
    image-rendering: crisp-edges;
}

a {
    color: #00d9ff;
}
a:hover {
    color: #0077ff;
}

.window {
    display: grid;
    grid-template-rows: auto 1fr;
}

.window-header {
    outline: 1px solid white;
    padding: 4px;
}

.window-content {
    outline: 1px solid white;
    overflow-y: scroll;
    padding: 4px;
}

#O {
    position: relative;

    grid-area: O;
    width: 100vw;
    height: 100vh;

    
    /* background: rgb(255, 0, 0, 0.25); */
    box-sizing: border-box;
    padding: 1lh 2ch;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

#N{
    grid-area: N;
    justify-content: flex-end;
}

#S{
    grid-area: S;
}

#E{
    grid-area: E;
}

#W{
    grid-area: W;
}

#NE{
    grid-area: NE;
}

#NW{
    grid-area: NW;
}

#SE{
    grid-area: SE;
}

#SW{
    grid-area: SW;
}

#homeInner {
    display: flex;
    position: absolute;
    max-width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* background: rgb(0, 0, 255, 0.25); */

}

#homeBadges {
    position: relative;
    box-sizing: border-box;
    width: calc(88px * 2 + 10px + 8px);
    max-height: 256px;
    grid-area: 3 / 1 / 4 / 1;
    align-self: end;
}

#homeBadgesInner {
    scrollbar-width: thin;
    overflow-y: scroll;
    
    min-height: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    
}

#homeBadges img {
    display: block;
}



#worldCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0);
}

#scrollHitbox
{
    position: absolute;
    top: 0;
    left: 0;

    will-change: transform;

    width: 8px;
    height: 8px;
    background: rgba(255, 0, 255, 0.25);

    /* transition: transform 1s cubic-bezier(0, 0, 0, 1); */


    z-index: -9999;
}

#hud{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    z-index: 1;

    pointer-events: none;
    /* background: rgba(0,255,0, 0.1); */
}

#hudCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 32px;
    height: 32px;

    background: rgba(0,255,0, 0.1); */
}

#mouseLabel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9999;
    will-change: transform;
    /* transition: transform 1s cubic-bezier(0, 0, 0, 1); */
}

