@import "generics.css";
@import "content.css";

@property --thinPadding {
  syntax: "<length>";
  inherits: true;
  initial-value: 8px;
}

@property --thickPaddingX {
  syntax: "<length>";
  inherits: true;
  initial-value: 11pt;
}

@property --thickPaddingY {
  syntax: "<length>";
  inherits: true;
  initial-value: 11pt;
}

html {
    scrollbar-width: none;
    overscroll-behavior: none;
    scrollbar-color: rgba(255, 255, 255, 1) rgba(0,0,0,0);

    --thinPadding: 8px;
    --thickPaddingX: 2ch;
    --thickPaddingY: 1lh;
}

body {
    position: absolute;
    background: black;
    font-family: monospace;
    line-height: 100%;
    font-size: 11pt;
    color: white;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-areas: 
        "NW N NE" 
        "W O E" 
        "SW S SE"
        ;

    grid-template-rows: minmax(0, 1fr) var(--origin-height, auto) minmax(0, 1fr);
    grid-template-columns: minmax(0, 1fr) var(--origin-width, auto) minmax(0, 1fr);
}



#O {
    position: relative;

    grid-area: O;
    width: 100vw;
    height: 100vh;

    
    /* background: rgb(255, 0, 0, 0.25); */
    box-sizing: border-box;
    padding: var(--thickPaddingY) var(--thickPaddingX);

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

#N{
    position: relative;

    grid-area: N;
}

#S{
    position: relative;
    min-width: 0;
    padding: var(--thickPaddingY) var(--thickPaddingX);
    grid-area: S;
}

#E{
    position: relative;

    grid-area: E;
}

#W{
    position: relative;

    grid-area: W;
}

#NE{
    position: relative;

    grid-area: NE;
}

#NW{
    position: relative;

    grid-area: NW;
}

#SE{
    position: relative;

    grid-area: SE;
}

#SW{
    position: relative;

    grid-area: SW;
}

#worldCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0);
}











#scrollHitbox
{
    position: absolute;
    top: 0;
    left: 0;

    will-change: transform;

    width: 8px;
    height: 8px;
    background: rgba(255, 0, 255, 0.25);

    /* transition: transform 1s cubic-bezier(0, 0, 0, 1); */


    z-index: -9999;
}

#hud{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    z-index: 1;

    pointer-events: none;
    /* background: rgba(0,255,0, 0.1); */
}

#hudCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 32px;
    height: 32px;

    background: rgba(0,255,0, 0.1); */
}

#mouseLabel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9999;
    will-change: transform;
    /* transition: transform 1s cubic-bezier(0, 0, 0, 1); */
}

